/** @format */
/* search bar */
section.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
section.filters button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	float: right;
	margin: 11px 30px;
	text-align: center;
}
section.filters button:hover {
	opacity: 0.9;
}

/* location and amenities section */
section div.locations,
section div.amenities {
	height: 100%;
	width: 25%;
	float: left;
}
.locations {
	border-right: 1px solid #dddddd;
}
.locations h3,
.amenities h3 {
	font-weight: 600;
	text-align: left;
	margin: 20px 0 0 30px;
}
.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	margin: 0 0 0 30px;
}

/* locations and amenities dropdown */
.popover {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: none;
	position: relative;
	z-index: 1;
}

.popover li {
	list-style-type: none;
	margin: 10px 0 10px -20px;
	text-align: left;
}

.popver ul h2 {
	font-size: 16px;
}
.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}
