/** @format */

.places {
	text-align: center;
}
.places h1 {
	text-align: left;
	font-size: 30px;
}
.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	min-height: 250px;
}
.places article h2 {
	margin-top: 5px;
	font-size: 30px;
	text-align: center;
}

/* details of place */
.price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	float: right;
	font-size: 30px;
	text-align: center;
	position: absolute;
	line-height: 60px;
	top: 10px;
	right: 20px;
}
.information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
	width: 100px;
	height: 100%;
	margin-left: 20px;
	text-align: center;
	line-height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	font-size: 16px;
	font-weight: bold;
	background-position: 50% 5px;
}

/* this segment is to include background image and align text directly under the images */
.max_guest::before {
	content: '';
	display: block;
	background-image: url(../images/icon_guest.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}

.number_rooms::before {
	content: '';
	display: block;
	background-image: url(../images/icon_bed.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}

.number_bathrooms::before {
	content: '';
	display: block;
	background-image: url(../images/icon_bath.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}

/* style for user and description */
.user {
	text-align: left;
	padding-top: 10px;
	font-size: 16px;
	font-weight: 500;
}

.description {
	text-align: justify;
	font-size: 16px;
	margin-top: 10px;
	font-weight: 500;
	padding-top: 10px;
}
